.env
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
ENV/
.venv/

# macOS
.DS_Store

# Node
node_modules

# Misc
.tmp
npm-debug.log
